.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: 
    "header header"
    "catFactSection catFactSection"
    "loaderSection loaderSection"
    "catPictureSection catPictureSection"
    "refreshButton refreshButton"
    "footer footer";
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catFactSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.catPictureSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#catPictureContainer {
  width: 50%;
  max-width: 800px;
}

img {
  width: 100%;
  height: 100%;
}



#loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ea1d1d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  /* Selecting using both id and class - otherwise id selector overwrites the class. ID has precedence over class! */
  #loader.showLoader {
    display: inline-block;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 